@font-face {
    font-family: "spaceInvaders";
    src: url("../fonts/ca.ttf") format("truetype");
}

*{
  font-family: 'spaceInvaders', Helvetica, Arial;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
