.logo {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;

  text-align: center;

  .logo-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .logo-start-text {
    font-size: 40px;
    color: #fff;
  }

  .btn-default {
    display: block;
    margin: 0 auto;
  }
}
