.logo {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;

  text-align: center;

  .logo-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .logo-start-text {
    font-size: 40px;
    color: #fff;
  }

  .btn-default {
    display: block;
    margin: 0 auto;
  }

  .aliens-group {
    margin: 0 auto;
    color: #fff;
  }
}

.instructions {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;

  color: #fff;
  text-align: center;
}

.grid {
  position: relative;
  overflow: hidden;
  top: 50px;
  margin: 0 auto;
  width: 402px;
  height: 602px;

  box-sizing: border-box;
  border: 1px solid $brandSecondary;
  border-radius: 20px;

  .block {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;

    .icon-in-uno{ color: #f402bd; position: absolute;}
    .icon-in-dos{ color: #00ebea; position: absolute;}
    .icon-in-tres{ color: #780ef8; position: absolute;}
    .icon-in-cuatro{ color: #0efc08; position: absolute;}
    .icon-in-cinco{ color: #e9f402; position: absolute;}
    .icon-in-seis{ color: #fc1705; position: absolute;}
    .icon-spaceship{ color: #fff; font-size: 19.5px; position: absolute;}
    .icon-thunderbolt{ color: #f5912a; position: absolute;}
    .icon-bomb{ color: #0efc08; position: absolute;}
    .icon-bubbles{ position: absolute;}
  }
}

.icon-bubbles{ color: #00ebea; font-size: 19.5px;}
.icon-user-bubbles{ color: #00ebea; font-size: 19.5px;}

.text-blink {
  animation: blink 1s infinite;
}

.game-points {
  color: #fff;

  #points,#shield {
    display: block;
  }
}

.game-status {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;

  text-align: center;
  color: #fff;
  font-size: 150px;
}

@keyframes blink {
	0% {opacity: 0}
	50%{opacity: 1}
	100% {opacity: 0}
}
